
body{
	font-family: "Hiragino Kaku Gothic Pro","Meiryo","MS PGothic",sans-serif;
	font-size: 1em;
}

p{
	color: #0099ff;
}


.container-narrow {
	margin: 0 auto;
	max-width: 746px;
}


.select_day {
	width:60px;
	background-color: white;
	border: 1px solid #CCC;
}

.select_year {
	width:70px;
	background-color: white;
	border: 1px solid #CCC;
}

.input_todo{
	width: 400px;
}
